---
const items = [
	[
		{
			title: 'Producto > Proyecto',
			description:
				'En todas mis experiencias laborales, aunque haya trabajado en proyectos, mi acercamiento ha sido el de producto. Mima el producto que estás creando para el cliente, en lugar de tratarlo como un proyecto con fecha de caducidad.',
		},
		{
			title: 'Feedback continuo',
			description:
				'En todos los proyectos he abogado por el feedback continuo del equipo para facilitar su crecimiento. El objetivo de todo manager debería ser que el equipo pueda optar a mejores posiciones en el futuro.',
		},
		{
			title: 'Ser padre me ha hecho mejor',
			description:
				'Soy padre de un niño de 5 y una niña de 2 (escribo esto a finales de 2022). Son dos de las mejores decisiones que he tomado, es duro, pero vale la pena. Me han hecho conocerme mejor a mi mismo. El hecho de ser padre presente me ha penalizado en mi carrera y en mi crecimiento como profesional en alguno de mis trabajos. Si esto le ocurre a un hombre, a mis compañeras de profesión aún más. Debemos reivindicar esto todos.',
		},
		{
			title: 'Me gusta cacharrear',
			description:
				'Hace relativamente poco descubrí el mundo de los teclados mecánicos y ya me he montado más de uno. También restauro Game Boys.',
		},
	],
	[
		{
			title: 'Estuve a punto de dejar Ingeniería informática',
			description:
				'Si, tuve una crisis durante la carrera y estuve a punto de dejarla, para hacer diseño gráfico. Finalmente continué y me alegro de haberlo hecho. Con el desarrollo puedo explotar algo esa segunda pasión. ',
		},
		{
			title: 'Me encanta el cine',
			description:
				'Hace años tuve un blog de cine. Enfocado en reseñas de películas de género. Gracias a este blog fui 3 veces acreditado en el Festival de Sitges como prensa.',
		},
		{
			title: 'Tecnologías con las que he trabajado',
			description:
				'Aunque mi actividad profesional ha sido SAP/ABAP. Tengo una app en Swift/SwiftUI que saqué durante la pandemia. Propuse usar Python para montar nuestro propio entorno de test automatizado sobre SAP. En el último año (2022) he estado aprendiendo tecnologías de desarrollo web (JS, React) y sigo en ello.',
		},
		{
			title: 'Mis actuales intereses',
			description:
				'XP, TDD, DDD y arquitectura en general. Desarrollo Open-Source, Kotlin, Rust, React & Vue, entornos DevOps.',
		},
	],
];
---

<section class="scroll-mt-16" id="aboutme">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-5xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Sobre mí</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				Conocerme un poco
				<span
					class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
					>mejor</span>
				
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Podría soltar aquí una parrafada para venderme, pero prefiero enumerar algunas cosas sobre mí. No todas ellas relacionadas con trabajo, hay vida
				más allá del trabajo.
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500">
										<svg class="w-12 h-12 p-0.5" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<rect class="fill-current text-primary-600" width="64" height="64" rx="32" />
												<g stroke-linecap="square" stroke-width="2">
													<path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z" />
													<path
														class="stroke-current text-primary-300"
														d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58"
													/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p>{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
