---
import { Icon } from 'astro-icon';
import Picture from '../../components/core/Picture.astro';
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl" id="cvitae">
	<div class="grid gap-6 row-gap-10 md:grid-cols-2">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
				Experiencia
			</h2>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-secondary-500 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Desarrolador FullStack en la ONG SIDA-STUDI 2004 - 2007</p>
					<p>
						Proyecto de rediseño y creación del catálogo online para la consulta de toda la bibliografía disponible. 
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-secondary-500 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Software Engineer en Indra 2007 - 2016</p>
					<p>
						Empezando como desarrollador ABAP junior inicialmente en módulos estándar al poco tiempo pasé al equipo 
						de desarrollo de producto TMS (Gestión hotelera). Participe en el diseño e implementación del backend de producto TMS4C para
						la gestión de reservas online. Durante los últimos años lideré el equipo encargado de evolucionar y optimizar la 
						herramienta.
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-secondary-500 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Tech Lead en EY 2016 - 2021</p>
					<p>
						En esta etapa continué trabajando en el producto TMS4C para su migración a S/4HANA. En esta migración
						tuve la oportunidad de liderar dos equipos en los que mejoré mis skills para aportar al crecimiento y evolución 
						de perfiles junior. Así como de la relación con el equipo frontend y third parties como Booking, Expedia, Ratetiger, Vecisa o Synxis.
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:check" class="w-6 h-6 text-gray-600 dark:text-slate-200 icon-bold" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">Team Lead en SEAT:CODE 2021 - actualmente </p>
					<p class="text-gray-700"></p>
					<div class="pt-1 pb-8">
						<p>
							En esta nueva etapa he dejado atrás los hoteles para unirme como Engineer Manager a uno de los tres equipos encargados
							de tomar un sistema crítico del grupo VW en la parte de ingeniería y producción usado en todo el mundo por las 
							distintas marcas del grupo. Trabajando de forma ágil para evolucionar y dar el siguiente 
							paso en su evolución. Implantando buenas prácticas en testing y arquitectura del sistema.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="relative">
			<Picture
				class="inset-0 object-cover object-top w-full rounded-md md:absolute md:h-full bg-white dark:bg-slate-900"
				src={import('~/assets/images/dev.png')}
				widths={[400, 768]}
				sizes="(max-width: 768px) 100vw, 432px"
				alt="dev"
				aspectRatio="432:768"
			/>
		</div>
	</div>
</section>
