---
import { Icon } from 'astro-icon';
---
<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="text-center">
                <h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">Hola! Me llamo Josa Vicente</h1>
            </div>
            <div class="text-center pb-10 md:pb-16">
                <h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Engineer Manager</span> +
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-secondary-500 to-primary-500 sm:whitespace-nowrap"
                        >Developer</span
                    >
                </h1>
            </div>
        </div>
        <div class="text-center max-w-3xl mx-auto">
            <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                Software engineer for more than 15 years, 14 of which I have worked in consulting with SAP technology. Specialised in the hotel sector
                and integration with 3rd parties. Although my work has been focused on SAP environments, I have continued training and learning other
                technologies and methodologies.
            </p>
            <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                The last 6 years I have developed my career as Engieneering Manager/ Team Lead.
            </p>
            <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                After 14 years I decided to change direction and move to a new sector and started working at SEAT:CODE. In a product focused
                environment I discovered a new passion for testing, agile and lean methodologies and curiosity for a continuous integration
                environment and extreme programming.
            </p>
        </div>
        <div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
            <div class="flex w-full sm:w-auto">
                <a
                    class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
                    href="https://github.com/onwidget/astrowind"
                    target="_blank"
                    rel="noopener"
                >
                <Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> 
                    Get template
                </a>
            </div>
            <div class="flex w-full sm:w-auto">
                <a class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full" href="#features">Learn more</a>
            </div>
        </div>
    </div>
</section>
